/* Header con imagen de fondo */



.header-bg {
    width: 100%;
    min-height: 800px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 2rem;
    position: relative;
  }
  
  /* Navbar con fondo blanco */
  .nav-links {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    position: absolute;
    top: 30px;
  }

  .header-bg .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* negro 50% transparente */
    z-index: 1;
  }

  /* Contenido del header por encima de la capa negra */
.header-bg nav,
.header-bg .main-content {
    position: relative;
    z-index: 2;
}
  
  .logo img {
    height: 60px;
    width: auto;
  }
  
  .nav-items {
    display: flex;
    gap: 1rem;
  }
  
  .nav-items a {
    color: #000;
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 6px;
    transition: all 0.3s;
  }
  
  .nav-items a:hover,
  .nav-items a.active {
    color: #C9A66B;
  }
  
  .main-content {
    margin-top: 200px;
    text-align: center;
    color: #fff;
  }
  
  .texto01 {
    font-size: 80px;
    text-align: left;
  }
  
  .texto02 {
    font-size: 30px;
    text-align: center;
    margin: -50px;
  }

  .bot{
    padding: 10px 20px;
    background-color: #C9A66B;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
  }

  .bot:hover{
    background-color: #caad7b;
    color: #000000;
    text-decoration: none;
    border-radius: 6px;
  }
  
  .bot01 {
    margin-top: 150px;
    margin-right: 30px;
    padding: 10px 20px;
    background-color: #C9A66B;
    color: #fff;
    font-size: 20px;
    border-color: #C9A66B;
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .header-bg {
      min-height: auto;
      padding: 1rem;
    }
  
    .main-content {
      margin-top: 100px;
      padding: 0 1rem;
    }
  
    .texto01 {
      font-size: 40px;
      text-align: center;
    }
  
    .texto02 {
      font-size: 18px;
      margin: 0;
    }
  
    .bot01 {
      margin-top: 20px;
      font-size: 16px;
    }
  }
  