
<!-- Header -->
<app-header></app-header>

<div class="contenedor02">

    <main>
        <div class="contenedor02_1">   
            <div class="tarj">

                <div style="display: flex; flex-direction: row;">
                    <img src="assets/images/icons/icono_001.png" alt="icono_001">
                    <h3>
                        01
                    </h3>
                    
                </div>
                <div><h2>Diseño Exclusivo</h2></div>
                <div>
                    <p id="lineaA">
                        
                    </p>
                    <p id="tarjP"> 
                        Cada proyecto refleja la armonía entre tradición y modernidad. 
                        Nuestras piezas de carpintería están pensadas para integrarse 
                        con elegancia en cualquier espacio, resaltando la belleza natural de la madera.
                    </p>
                </div>

            </div>
            <div class="tarj">
                
                <div style="display: flex; flex-direction: row;">
                    <img src="assets/images/icons/icono_002.png" alt="icono_001">
                    <h3>
                        02
                    </h3>
                    
                </div>
                <div><h2>Calidez y Durabilidad</h2></div>
                <div>
                    <p id="lineaA">
                        
                    </p>
                    <p id="tarjP"> 
                        El uso de materiales seleccionados y procesos de fabricación 
                        rigurosos garantizan muebles resistentes, con acabados que 
                        transmiten confort y sofisticación.
                    </p>
                </div>

            </div>
            <div class="tarj">
                
                <div style="display: flex; flex-direction: row;">
                    <img src="assets/images/icons/icono_003.png" alt="icono_001">
                    <h3>
                        03
                    </h3>
                    
                </div>
                <div><h2>Detalles que Inspiran</h2></div>
                <div>
                    <p id="lineaA">
                        
                    </p>
                    <p id="tarjP"> 
                        Nos enfocamos en la precisión y el arte de la carpintería, 
                        logrando piezas que no solo cumplen una función, sino que 
                        también elevan la estética y el valor de su entorno.
                    </p>
                </div>

            </div>
        </div>

        <div class="contenedor03">   
            <div class="contenedor03_1">   
                <img src="assets/images/banners/img_003.jpg" alt="img_003">
            </div>

            <div class="contenedor03_1">
                <div>
                    <div id="linea"></div>
                </div>
                    
                <div>
                    <H2 id="nosotrosH">Nosotros</H2>
                </div>
                
                <div>
                    <p id="nosotrosP">En Artesano Madera transformamos la nobleza de la madera en 
                        muebles únicos que unen tradición artesanal y diseño moderno, 
                        ofreciendo piezas duraderas, elegantes y sostenibles 
                        que llenan de calidez cada espacio.
                    </p>
                </div>

                <div class="contenedor03_2">
                    <div class="contenedor03_2_1">
                        <div>
                            <img src="assets/images/icons/icono_004.png" alt="icono_004">
                        </div>
                        <div>
                            <div>
                                <p id="cSn">200+</p>
                            </div>
                            <div>
                                <p>Clientes Satisfechos</p>
                            </div>
                        </div>
                    </div>
                    <div class="contenedor03_2_1">
                        <div>
                            <img src="assets/images/icons/icono_005.png" alt="icono_005">
                        </div>
                        <div>
                            <div>
                                <p id="cSn">300+</p>
                            </div>
                            <div>
                                <p>Productos Vendidos</p>
                            </div>

                        </div>

                    </div>
                </div>

                <div>
                    <button id="btnEm">Explorar más</button>
                </div>
            </div>

        </div>

        <div class="contenedor04">
            <div class="contenedor04A">
                <div id="lineaB"></div>
                <div>
                    <h2>Nuestros Servicios</h2>
                </div>
            </div>

            <div class="contenedor04B">
                <div class="contenedor04B_01">
                    <img src="assets/images/icons/icono_008.png" alt="icono_006">
                    <h3>Muebles Personalizados</h3>
                    <p>Creamos muebles únicos que se adaptan a tu estilo y necesidades, 
                        combinando estética y funcionalidad.</p>
                    <button>Más información</button>
                </div>
                <div class="contenedor04B_01">
                    <img src="assets/images/icons/icono_009.png" alt="icono_006">
                    <h3>Selección de Maderas</h3>
                    <p>Trabajamos con materiales sostenibles de alta calidad, 
                        garantizando acabados duraderos y elegantes.</p>
                    <button>Más información</button>
                </div>
                <div class="contenedor04B_01">
                    <img src="assets/images/icons/icono_010.png" alt="icono_006">
                    <h3>Carpintería para Interiores</h3>
                    <p>Fabricamos puertas, paneles y detalles en madera que 
                        realzan la armonía y elegancia de tus espacios.</p>
                    <button>Más información</button>
                </div>
                    
                <div class="contenedor04B_01">
                    <img src="assets/images/icons/icono_011.png" alt="icono_006">
                    <h3>Instalación de Muebles</h3>
                    <p>Montamos y colocamos tus muebles con precisión, 
                        acabado impecable en cada espacio.</p>
                    <button>Más información</button>
                </div>
            </div>
        
        </div>

        <div class="contenedor05">
            <div class="contenedor05A">
                <div id="lineaC"></div>
                <h2>¿Por qué elegirnos?</h2>
                <p class="contenedor05A_P" >En Artesano Madera, combinamos tradición y modernidad para ofrecerte muebles únicos, 
                    hechos a mano con materiales de alta calidad. Nuestro compromiso con la sostenibilidad 
                    y la atención al detalle garantizan piezas duraderas y elegantes que transforman 
                    cualquier espacio en un hogar cálido y acogedor.
                </p>

                <div>
                    <div class="contenedor05A_1">
                        <div class="contenedor05A_1_1">
                            <div>
                                <img src="assets/images/icons/icono_006.png" alt="icono_006">
                            </div>

                            <div>
                                <h3 class="contenedor05A_P_">Confiable</h3>
                                <p>Garantía</p>
                            </div>
                            
                        </div>
                        <div class="contenedor05A_1_1">
                            <div>
                                <img src="assets/images/icons/icono_007.png" alt="icono_007">
                            </div>

                            <div>
                                <h3 class="contenedor05A_P_">Innovador</h3>
                                <p>Creatividad</p>
                            </div>
                        </div>
                    </div>

                    <div class="contenedor05A_1">
                        <div class="contenedor05A_1_1">
                            <div>
                                <img src="assets/images/icons/icono_008.png" alt="icono_006">
                            </div>

                            <div>
                                <h3 class="contenedor05A_P_">Profesional</h3>
                                <p>Personalización</p>
                            </div>
                            
                        </div>
                        <div class="contenedor05A_1_1">
                            <div>
                                <img src="assets/images/icons/icono_010.png" alt="icono_007">
                            </div>

                            <div>
                                <h3 class="contenedor05A_P_">Moderno</h3>
                                <p>Diseño</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="contenedor05B">
                <div>
                    <img src="assets/images/banners/img_004.jpg" alt="img_004">
                </div>
            </div>

        </div>


        
        <!-- Productos destacados -->
        <div class="productos-destacados">
            <h2>Productos Destacados</h2>

            <div class="grid-productos">
                <div class="producto-card" *ngFor="let producto of productos | slice:0:6">
                    <img
                        [src]="'http://localhost:3000/uploads/productos/' + producto.imagen"
                        [alt]="producto.nombre"
                    />

                    <div class="info-producto">
                        <p><strong>Nombre:</strong> {{ producto.nombre }}</p>
                        <p><strong>Precio:</strong> S/{{ producto.precio }}</p>
                        <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
                        <button class="btn-comprar" (click)="irADetalle(producto.id)">
                            Ver Producto
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Contacto -->
        <div class="main-contenido">
            <div class="contacto" id="contacto">
            <h2>Contáctanos</h2>
            <p>Comuníquese con nosotros para cualquier consulta o asistencia; ¡estamos aquí para ayudarlo!</p>

            <div class="contacto-contenido">
                <form class="form-contacto">
                <input type="text" placeholder="Nombre *" required>
                <input type="email" placeholder="Email" required>
                <input type="tel" placeholder="Número de celular *" required>

                <select required>
                    <option value="">¿Cómo nos encontraste?</option>
                    <option value="redes">Redes sociales</option>
                    <option value="web">Búsqueda web</option>
                    <option value="recomendacion">Recomendación</option>
                </select>

                <button type="submit">ENVIAR</button>
                </form>

                <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d9225.979167339825!2d-71.93675398586907!3d-13.532743727272813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1761004204773!5m2!1ses!2spe"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
                </div>
            </div>

            <div class="info-contacto">
                <p>📞 Celular: 05 5432 1234</p>
                <p>📠 Fax: 05 5432 1234</p>
                <p>✉️ Email: info@amarcc.com.au</p>
            </div>
            
            </div>

            <!-- Testimonios -->
            <div class="testimonios">
                <h2>Testimonios</h2>
                <p>Lo que nuestros clientes dicen de nosotros.</p>

                <div class="testimonios-contenedor">
                    <article class="testimonio">
                        <img src="assets/images/testimonios/testimonio_01.png" alt="James Pattinson">
                        <h3>James Pattinson</h3>
                        <p class="estrellas">⭐⭐⭐⭐☆</p>
                        <p>Quedé satisfecho con el servicio de la carpintería...</p>
                    </article>

                    <article class="testimonio">
                        <img src="assets/images/testimonios/testimonio_02.png" alt="Greg Stuart">
                        <h3>Greg Stuart</h3>
                        <p class="estrellas">⭐⭐⭐⭐⭐</p>
                        <p>¡Excelente servicio! La carpintería se encargó de todo con mucho cuidado...</p>
                    </article>

                    <article class="testimonio">
                        <img src="assets/images/testimonios/testimonio_03.png" alt="Trevor Mitchell">
                        <h3>Trevor Mitchell</h3>
                        <p class="estrellas">⭐⭐⭐☆☆</p>
                        <p>El servicio fue bueno, aunque hubo pequeños retrasos...</p>
                    </article>
                </div>
            </div>
        </div>



    </main>
</div>

<!-- Footer -->
<app-footer></app-footer>
