<!-- Header -->
<app-header></app-header>

<div class="confirmacion-container">
   <!-- 🔵 Pasos -->
  <div class="cart-header">
    <div class="cart-step active">Mi Carrito</div>
    <div class="cart-step active">Delivery</div>
    <div class="cart-step active">Pago</div>
    <div class="cart-step active">Confirmación</div>
  </div>

  <div class="confirmacion-content">
    <!-- Columna izquierda -->
    <div class="confirmacion-left">
      <h2>Confirmación</h2>
      <hr />

      <div class="check-icon">✔</div>
      <h3>Felicidades.</h3>
      <p class="sub">Su pedido es aceptado</p>

      <p class="mensaje">
        Su pedido ha sido aceptado y llegará pronto.  
        Por favor, revise el correo electrónico y WhatsApp  
        para obtener actualizaciones sobre el estado del pedido.
      </p>

      <!-- <button class="btn-seguimiento">Seguimiento del pedido</button> -->
      <!-- <button class="btn-volver">Back to Home Page</button> -->
    </div> 

    <!-- Columna derecha -->
    <div class="confirmacion-summary">
      <h2>Resumen</h2>

      <div class="summary-item" *ngFor="let item of carrito">
        <img [src]="'http://localhost:3000/uploads/productos/' + item.imagen" [alt]="item.nombre" />
        <div class="summary-details">
          <p class="item-name">{{ item.nombre }}</p>
          <p class="item-price">Cantidad: {{ item.cantidad }} —
            <span>S/.{{ item.precio * item.cantidad | number:'1.2-2' }}</span>
          </p>
        </div>
      </div>

      <hr />

      <div class="price-breakdown">
        <p>Subtotal: <span>S/.{{ subtotal | number:'1.2-2' }}</span></p>
        <p>Envío: <span class="free">Gratis</span></p>
        <p>Descuento: <span class="discount">- S/.{{ descuento | number:'1.2-2' }}</span></p>
        <hr />
        <p class="total">Total: <span>S/.{{ total | number:'1.2-2' }}</span></p>
      </div>

      <div class="shipping-info">
        <h3>Envío</h3>
        <p>Envío estándar</p>
        <small>Entrega estimada en 3 a 6 días hábiles. Gratis.</small>
      </div>

      <div class="payment-info">
        <h3>Pago</h3>
        <div class="card-method">
          <img src="assets/images/icons/icono_mastercard.webp" alt="MasterCard" />
          <span>MasterCard</span>
        </div>
        <!-- <p class="total-pago">Total Payment: <span>S/.140</span></p> -->
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<app-footer></app-footer>